PORT=3000

# mock (local) - live
# live modda /test-chat ekranı kapalıdır
WHATSAPP_MODE=live

# true (live) - false (local)
BOT_ENABLED=true

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
META_APP_SECRET=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_API_VERSION=v22.0

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=